html, body {
  min-height: 100%;
  min-width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: '-apple-system', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#root > div {
  text-align: center;
}
.Combination {
  text-align: left;
  align-self: flex-start;
  display: inline-block;
  padding: 1em;
}

.code {
  background: rgba(100, 100, 100, 0.1);
  border-radius: 4px;
  text-align: left;
  padding: .25em;
  font-weight: normal;
}
.block-code {
  @extend .code;
  display: block;
  margin-bottom: 1em;
  padding: .75em;
  border: 1px inset rgba(50, 50, 50, .1);
  line-height: 1.7;
}
.label {
  display: block;
  font-weight: bold;
  margin-bottom: .4em;
}

.Combination__props {
  display: block;
  align-self: flex-start;
  background: rgba(100, 100, 100, 0.1);
  border-radius: 4px 4px 0 0;
  border: 1px inset rgba(50, 50, 50, .1);
  border-bottom: none;
  padding: .5em;
  // margin-bottom: .5em;
}

.Combination__component {
  display: block;
  text-align: center;
  border: 1px inset rgba(50, 50, 50, .1);
  border-radius: 0 0 4px 4px;
  padding: 1em;
}
